#header {
    height: 100vh; /* Make header full height of the viewport */
    display: flex; /* Aligns content vertically */
    flex-direction: column; /* Allows stacking of elements */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
}
			#intro {
				
    display: flex; /* Aligns content vertically */
    flex-direction: column; /* Allows stacking of elements */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
			}

			#swdev {
				height: 100vh; /* Make header full height of the viewport */
    display: flex; /* Aligns content vertically */
    flex-direction: column; /* Allows stacking of elements */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
			}
    
            .uk-card-media-top img {
                transition: transform 0.3s ease, box-shadow 0.3s ease;
              }
              
              .uk-card-media-top:hover img {
                transform: scale(1.05);
                box-shadow: 0 0 10px rgba(0,0,0,0.3);
              }
              